body {
color: black;
background: white;
margin: 0px;
font-family: "DM Serif Text", serif;
margin-bottom: 100px;
}

header {
  border-bottom: solid 1px black;
  padding: 15px;
  font-size: 32px;
  color: rgb(147, 0, 161);
}

.chamada {
  background: rgb(228 219 237);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

img {
  height: 200px;
}

.categoria-videos {
  display: flex;
  overflow: auto;
  gap: 10px;
}

.categoria {
 padding-left: 15px;
 padding-right: 15px;
 margin-top: 20px;
}

.categoria-videos img {
  opacity: 0.5;
}

.categoria-videos img:hover {
 opacity: 1.0;
 border: 1px solid red;
}

.categoria h2 {
  color: rgb(147, 0, 161);
}